.dashboardorder__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid lightgrey;
}

.dashboardorder__table th,
.dashboardorder__table td {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    vertical-align: middle;
}

.dashboardorder__button {
    padding: 5px 5px;
    cursor: pointer;
    background: var(--main-theme-background);
    color: var(--main-theme-text-color);
}
.dashboardorder__button:hover {
    background: var(--main-theme-hover-background);
}
@media (max-width: 575.98px) {
    .dashboardorder__table th:nth-child(3),
    .dashboardorder__table td:nth-child(3),
    .dashboardorder__table th:nth-child(5),
    .dashboardorder__table td:nth-child(5) {
        display: none;
    }
    .dashboardorder__button {
        padding: 5px 3px;
        font-size: 1rem;
    }
}
