.modal-block {
    padding: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    margin: 0;
    font-size: 1.5rem;
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
}

.modal-body {
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    min-height: 100px;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    padding: 0.7rem 0.7rem 0.2rem;
}
